@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
li {
  all: unset;
}
img {
  max-width: 100%;
}
header {
  margin-bottom: 5em;
}
a{
  all:unset;
  color:#1d1d1f;
  cursor: pointer;
}
.pc_br{
  display:block;
}
.wrap__layout {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.header__top {
  border-bottom: 1px solid #ccc;
}
.header__top-wrap {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 4px;
  padding-right: 1em;
  border-right: 1px solid #ccc;
}
.gnb__bt {
  display: block;
  position: relative;
  height: 60px;
  padding-top: 20px;
  padding-left: 1em;
  padding-right: 2em;
  border-right: 1px solid #ccc;
  font-size: 0.8rem;
  line-height: 2em;
  cursor: pointer;
}
.gnb__bt:after {
  content: "";
  position: absolute;
  top: 32.5px;
  right: 1em;
  transform: translateY(-50%);
  width: 6px;
  height: 3px;
  background-image: url("../imgs/orb-sprite.gif");
  background-repeat: no-repeat;
}
.gnb__bt:hover {
  border-bottom: 2px solid #1d1d1f;
}
.header__mid {
  height: 0;
  overflow: hidden;
  transition: 0.4s ease 0s;
}

.header__mid.on {
  padding-top: 1em;
  height: 100px;
}

.header__mid h2 {
  font-size: 2rem;
}
.gnb__wrap {
  width: 80%;
  margin-left: 20%;
}
.gnb__item {
  font-size: 1rem;
  margin-right: 5em;
  cursor: pointer;
}
.gnb__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #bb1a19;
}
.gnb__bottom-wrap {
  display: flex;
  align-items: center;
  color: #fff;
}
.gnb__bottom-wrap h2 {
  position: relative;
  padding-right: 0.5em;
  margin-right: 0.5em;
  font-weight: 100;
  line-height:1px;
}
.gnb__bottom-wrap h2:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: #fff;
}
.gnb__bottom-wrap span {
  display: block;
}
.fa-clock {
  padding-right: 2px;
}
.text__wrap {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}

.text {
  position: relative;
  display: inline-block;
  margin-bottom: 70vh;
  padding: 2em 2em;
  border: 1px solid #ddd;
  border-radius: 1em;
  line-height: 1.6;
  word-break: keep-all;
  background-color: #fff;
  box-shadow: #1d1d1f 1px 1px 5px;
}

.text.last {
  margin-bottom: 30vh;
}

.normal__wrap {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.normal__wrap.last h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.normal__text {
  padding-bottom: 1em;
  margin-bottom: 5em;
  border-bottom: 1px solid #1d1d1f;
  line-height: 1.6;
  word-break: keep-all;
  color: #888;
}
.cont__title {
  font-size: 4rem;
  word-break: keep-all;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 1em;
}
.info + p {
  font-size:1.3rem;
  word-break: keep-all;
  line-height: 1.6;
  color: #1d1d1f;
  font-weight:500;

}
.info span{
  font-size:1rem;
  margin-right:10px;
  padding-right:10px;
  border-right:1px solid #333;
}


.info span:first-child{
  color:#bb1a19;
  padding-right:0;
}
.info span:first-child,
.info span:last-child{
  border-right:none;
}

.img__wrap.sticky {
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
}
.img__position {
  position: relative;
}
.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}
.item.on {
  opacity: 1;
  margin: 0 auto;
}
.item > img {
  width: 70vw;
  height: 70vh;
  object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em 0;
  color: #eee;
  background-color: #1d1d1f;
}
.bird{
  position:absolute;
  left:0;
  top:-10%;
}
.bird.fly{
  transition: 1.5s 0.5s linear;
}
.bird img{
  width:150px;
}


@media (max-width: 1024px) {
  .item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  .item {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .park img {
    object-position: 70% center;
  }
  .shop img {
    object-position: left center;
  }
  .shower img {
    object-position: 60% center;
  }
}

@media (max-width: 640px) {
  .pc_br{
    display:none;
  }
  header {
    padding: 0 2%;
  }
  .gnb__bottom-wrap h2 {
    padding-left: 2%;
  }
  .gnb__wrap {
    width: 100%;
    margin-left: 0;
  }
  .header__mid.on {
    padding-top: 0;
    height: auto;
  }
  .header__mid h2 {
    display: none;
  }
  .gnb__item {
    display: block;
    padding: 0.5em 0;
    padding-left: 1em;
    margin-right: 0;
    border-bottom: 1px solid #eee;
  }
  .gnb__item:last-child {
    border-bottom: 0;
  }
  .cont {
    padding: 0 2%;
  }
  .cont__title {
    font-size: 2rem;
    text-align: center;
  }
  .info,
  .info + p {
    font-size: 0.8rem;
    text-align: Center;
  }
  .item img {
    border: 0;
  }
  .morning img {
    object-position: 60% center;
  }
  .text {
    font-size: 0.8rem;
    text-align: center;
  }
  .normal__wrap.last {
    margin-bottom: 5em;
  }
  .normal__wrap.last h3 {
    font-size: 1rem;
    text-align: center;
  }
  .normal__text {
    font-size: 0.8rem;
    text-align: Center;
  }
  footer {
    font-size: 0.8em;
  }
}
